/* select widget in export */
.kk-fav-select{
	display:inline-block;
	width:320px;
}

/* buttons on sidebar: manager, collapse all */
.tc-btn-invisible.kk-fav-btn{
	opacity:0.5;
}
.tc-btn-invisible.kk-fav-btn:hover{
	opacity:1.0;
}
.tc-btn-invisible.kk-fav-btn .tc-image-fold{
	height:0.9em;
	vertical-align:bottom;
}


.kk-fav-btn .tc-image-refresh-button{
	vertical-align: middle;
	width:  1.1em;
	height: 1.1em;
}

input.kk-fv-color-input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 40px;
	height: 20px;
}

/* Utility classes */

.kk-fav-left-gap{
	margin-left:8px;
}

/* Settings tab */
label.kk-fav-label {
 display:inline-block;
 width: 210px;
 margin-bottom:0.4em;
}
.kk-fav-input {
  width:120px;
}

/* folder-tiddler-ui*/

details.kk-fav-details>summary{
padding-left:0;
}